<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.neokree.example">
    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
     <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:screenOrientation="portrait"
        android:supportsRtl="true">
        <activity
            android:name=".SplashScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.neokree.example.light.Accounts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".mockedActivity.IamSupport"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"/>
        <activity android:name=".Screen2"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Settings"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Profile"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Contactus"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Joinus1"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
             />
        <activity android:name=".mockedActivity.Joinus2"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Joinus3"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Joinus4"
            android:screenOrientation="portrait"
            android:label="@string/Joinus4_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            />
        <activity android:name=".mockedActivity.Joinus5"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>

        <activity android:name=".mockedActivity.Supportus1"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Supportus3"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.FundSupport"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.BloodSupport"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.Gallery"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".mockedActivity.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>


        <activity android:name=".mockedActivity.JoinSupport"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"></activity>
        <activity android:name=".dark.Accounts" android:theme="@style/AccountsDark" />
        <activity android:name=".dark.MockedAccount" android:theme="@style/MockedAccountDark" />
        <activity android:name=".dark.ImageDrawerHeader" android:theme="@style/ImageHeaderDark" />
        <activity android:name=".dark.NoDrawerHeader" android:theme="@style/NoHeaderDark" />
        <activity android:name=".dark.CustomDrawerHeader" android:theme="@style/CustomHeaderDark" />

        <activity android:name=".light.Accounts" android:theme="@style/AccountsLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".light.MockedAccount" android:theme="@style/MockedAccountLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".light.ImageDrawerHeader" android:theme="@style/ImageHeaderLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".light.NoDrawerHeader" android:theme="@style/NoHeaderLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>
        <activity android:name=".light.CustomDrawerHeader" android:theme="@style/CustomHeaderLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"/>

        <activity android:name=".functionalities.CustomAccountSection" android:theme="@style/CustomAccountSection" />
        <activity android:name=".functionalities.KitkatStatusBar" android:theme="@style/KitkatStatusBar" />
        <activity android:name=".functionalities.MultiPane" android:theme="@style/MultiPane" />
        <activity android:name=".functionalities.RippleBackport" android:theme="@style/RippleBackport" />
        <activity android:name=".functionalities.UniqueToolbarColor" android:theme="@style/UniqueToolbarColor" />
        <activity android:name=".functionalities.master_childa.MasterChildActivity" android:theme="@style/MasterChild" />
        <activity android:name=".functionalities.RealColorSections" android:theme="@style/RealColorSections" />
        <activity android:name=".functionalities.DefaultSectionLoaded" android:theme="@style/DefaultSectionLoaded" />
        <activity android:name=".functionalities.ActionBarShadow" android:theme="@style/ActionBarShadow" />
        <activity android:name=".functionalities.LearningPatternDisabled" android:theme="@style/LearningPatternDisabled" />

        <activity android:name=".backpattern.BackToFirst" android:theme="@style/BackPattern" />
        <activity android:name=".backpattern.BackAnywhere" android:theme="@style/BackPattern" />
        <activity android:name=".backpattern.BackPatternCustom" android:theme="@style/BackPattern" />


    </application>


</manifest>
